<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DjangoCourse - Bulma Article</title>
  <link rel="icon" type="image/png" sizes="32x32" href="https://bulma.io/favicons/favicon-32x32.png?v=201701041855">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
  <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet"> 
</head>